<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
</head>
<body>
  <h1>Welcome to the Home Page</h1>

  <a class="btn btn-primary" href="{% url 'job_list' %}">Job Posts</a>

  {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'my_applications' %}">My Applications</a>
    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
    <a class="btn btn-primary" href="{% url 'profile.index' %}">Profile</a>
    <a class="btn btn-primary" href="{% url 'my_applications' %}">My Applications</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
  {% endif %}

  <a class="btn btn-primary" href="{% url 'home.index' %}">About</a>
</body>
</html>